node_modules
build/ firebase-messaging-sw.js
build/_redirects
build/._.DS_Store
build/.DS_Store
build/asset-manifest.json
build/favicon.ico
build/favicon1.ico
build/firebase-messaging-sw.js
build/index.css
build/index.html
build/indux.css
build/logo512.png
build/manifest.json
build/robots.txt
build/static/css/2.f4c56af9.chunk.css
build/static/css/2.f4c56af9.chunk.css.map
build/static/css/main.36636118.chunk.css
build/static/css/main.36636118.chunk.css.map
build/static/js/2.70ce2521.chunk.js
build/static/js/2.70ce2521.chunk.js.LICENSE.txt
build/static/js/2.70ce2521.chunk.js.map
build/static/js/main.135834fc.chunk.js
build/static/js/main.135834fc.chunk.js.map
build/static/js/runtime-main.62000460.js
build/static/js/runtime-main.62000460.js.map
build/static/media/create.7a3adb54.svg
build/static/media/documents_dark.9db59cc1.svg
build/static/media/drag.6434dc0c.svg
build/static/media/home_dark.55d5b6c1.svg
build/static/media/issues_dark.d1b69988.svg
build/static/media/logo.5455d554.jpg
build/static/media/logout_dark.a1acf4fe.svg
build/static/media/menu_dark.3ba50b5f.svg
build/static/media/Plus.ad16ef89.svg
build/static/media/plusicon.22735458.svg
build/static/media/reports_dark.285af3a8.svg
build/static/media/tasks.2182e2e7.svg
build/
*.zip
package-lock.json
.env
